confluentincWithCompose/kafka
confluentincLocalhostStart/kafka
confluentincProducer/kafka
confluentincJSON/kafka

connectConfluentKafkaCluster/ccloud.properties
connectConfluentKafkaCluster/kafka

confluentincWithRegistry/kafka

confluentincClusterWithCompose/kafka
confluentincClusterWithCompose/zk

confluentincSwarm/kafka
confluentincSwarm/zk

configuration/kafka

writingMessages/kafka

consumeMessages/kafka
consumeMessages/data.txt

streamTimeInParallelProcessing/kafka

kafkaConnectWithAvro

kafkaConnectWithString/db-data
kafkaConnectWithString/kafka
kafkaConnectWithString/kfk

kafkaConnectWithJSON/db-data
kafkaConnectWithJSON/kafka
kafkaConnectWithJSON/kfk

kafkaConnectWithProtobuf/db-data
kafkaConnectWithProtobuf/kafka
kafkaConnectWithProtobuf/kfk

workWithRegistry/topicNameStrategy/kafka
workWithRegistry/topicNameStrategy/config

workWithRegistry/recordNameStrategy/kafka
workWithRegistry/recordNameStrategy/config
workWithRegistry/recordNameStrategy/implementPackage/confluent-kafka-go




